@page "/"
@inject IJSRuntime JSRuntime;
@inject IBlazorDbFactory _dbFactory;

<h1>Person</h1>
<button @onclick="SwitchToPerson">Switch</button>
<button @onclick="Create">Create DB</button>
<button @onclick="Add">Add</button>
<button @onclick="Put">Put</button>
<button @onclick="Add100">Add 100</button>
<button @onclick="Add100Async">Add 100 (Async)</button>
<button @onclick="BulkAdd">BulkAdd 10,000</button>
<button @onclick="BulkAddAsync">BulkAdd 10,000 (Async)</button>
<button @onclick="Update">Update</button>
<button @onclick="UpdateAsync">Update (Async)</button>
<button @onclick="Delete">Delete</button>
<button @onclick="DeleteAsync">Delete (Async)</button>
<button @onclick="GetItem">Get Item</button>
<button @onclick="AddWithCallback">Add With Callback</button>
<button @onclick="DeleteDb">Delete DB</button>


<h1>Item</h1>
<button @onclick="SwitchToItem">Switch</button>
<button @onclick="Create">Create DB</button>
<button @onclick="Add">Add</button>
<button @onclick="Put">Put</button>
<button @onclick="Add100">Add 100</button>
<button @onclick="Add100Async">Add 100 (Async)</button>
<button @onclick="BulkAdd">BulkAdd 10,000</button>
<button @onclick="BulkAddAsync">BulkAdd 10,000 (Async)</button>
<button @onclick="Update">Update</button>
<button @onclick="UpdateAsync">Update (Async)</button>
<button @onclick="Delete">Delete</button>
<button @onclick="DeleteAsync">Delete (Async)</button>
<button @onclick="GetItem">Get Item</button>
<button @onclick="AddWithCallback">Add With Callback</button>
<button @onclick="DeleteDb">Delete DB</button>

@code {
    IndexedDbManager manager;

    string dbName = "Test";
    string storeName = "Person";

    protected override async Task OnInitializedAsync()
    {
        manager = await _dbFactory.GetDbManager(dbName);
        manager.ActionCompleted += (_, __) =>
        {
            Console.WriteLine(__.Message);
        };
    }
    
    protected async void SwitchToItem()
    {
        dbName = "Test2";
        storeName = "Item";
        manager = await _dbFactory.GetDbManager(dbName);
    }

    protected async void SwitchToPerson()
    {
        dbName = "Test";
        storeName = "Person";
        manager = await _dbFactory.GetDbManager(dbName);
    }

    protected async Task Create()
    {
        Console.WriteLine("Create");
        await manager.OpenDb();
    }

    protected async Task Add()
    {
        await manager.AddRecord(new StoreRecord<object>()
            {
                StoreName = storeName,
                Record = new { Name = "MyName", Age = 20, Action ="Add" }
            });
    }

    protected async Task Put()
    {
        await manager.PutRecord(new StoreRecord<object>()
            {
                StoreName = storeName,
                Record = new { Id = 1, Name = "MyName, modified", Action = "Put", Age = 55 }
            });
    }

    protected async Task Add100()
    {
        for(var i = 0; i < 100; i++)
        {
            await manager.AddRecord(new StoreRecord<object>()
                {
                    StoreName = storeName,
                    Record = new { Name = "MyName", Age = 20 }
                });
        }
    }

    protected async Task Add100Async()
    {
        for(var i = 0; i < 100; i++)
        {
            await manager.AddRecordAsync(new StoreRecord<object>()
                {
                    StoreName = storeName,
                    Record = new { Name = "MyName", Age = 20 }
                });
        }
    }

    protected async Task BulkAdd()
    {
        var records = Enumerable.Range(0, 10_000).Select(x => new { Name = "MyName", Age = x, Action = "BulkAdd" });
        await manager.BulkAddRecord(storeName, records);
    }

    protected async Task BulkAddAsync()
    {
        var records = Enumerable.Range(0, 10_000).Select(x => new { Name = "MyName", Age = x, Action = "BulkAddAsync" });
        await manager.BulkAddRecordAsync(storeName, records);
    }

    protected async Task Update()
    {
        await manager.UpdateRecord(new UpdateRecord<object>()
            {
                StoreName = storeName,
                Record = new { Name = "YourName", Age = 21 },
                Key = 1
            });
    }

    protected async Task UpdateAsync()
    {
        await manager.UpdateRecordAsync(new UpdateRecord<object>()
            {
                StoreName = storeName,
                Record = new { Name = "YourName", Age = 21 },
                Key = 1
            });
    }

    protected async Task AddWithCallback()
    {
        await manager.AddRecord(new StoreRecord<object>()
                {
                    StoreName = storeName,
                    Record = new { Name = "MyName", Age = 20 }
                }, (_) => {
                    Console.WriteLine($"{_.Transaction}-{_.Failed}-{_.Message}");
                });
    }

    protected async Task Delete()
    {
        await manager.DeleteRecord(storeName, 2);
    }

    protected async Task DeleteAsync()
    {
        await manager.DeleteRecordAsync(storeName, 2);
    }

    protected async Task GetItem()
    {
        var item = await manager.GetRecordByIdAsync<int, object>(storeName, 3);
        Console.WriteLine(item);
    }

    protected async Task DeleteDb()
    {
        await manager.DeleteDb(dbName);
    }
}